<div id="page-content">
    <h1 class="text-center mt-4">Update article</h1>

    <%= render 'form' %>

    <p class="text-center">
        <%= link_to '[ Cancel and return to articles list ]', articles_path %>
    </p>
</div>