<div id="page-content">
    <h1 class="text-center mt-4">Create a new article</h1>

    <%= render 'form' %>

    <p class="text-center">
        <%= link_to '[ Return to articles list ]', articles_path %>
    </p>
</div>