<section class="py-5 text-center container">
    <div class="row py-lg-5 jumbotron">
        <div class="col-lg-6 col-md-8 mx-auto text-white">
            <h1 class="fw-light">Alpha Blog</h1>
            <p class="lead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
            <a href="#" class="btn btn-primary my-2">Sign up!</a>
            </p>
        </div>
    </div>
</section> 

<footer class="text-muted py-5">
    <div class="container">
    <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>    