<section class="py-5 text-center container">
    <div class="row py-lg-5 jumbotron">
        <div class="col-lg-6 col-md-8 mx-auto text-white">
            <h1 class="fw-light">Alpha Blog</h1>
            <p class="lead">
                Publish your passions your way. Whether you'd like to share your knowledge, experiences or the latest news, create a unique and beautiful blog.
            </p>
            <p>
                <%= link_to "Sign up", signup_path, class: "btn btn-primary my-2" %>
            </p>
        </div>
    </div>
</section>