@import "bootstrap";

.jumbotron {
    background-image: asset-url('jumbotron.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}