<div id="page-content">
    <h1 class="text-center mt-4">Update category name</h1>

    <%= render 'form' %>

    <p class="text-center">
        <%= link_to '[ Cancel and return to category list ]', categories_path %>
    </p>
</div>