<% if(flash.any?) %>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <% flash.each do |name, msg| %>
                    <div class="alert alert-<%= name == "notice" ? "success" : "danger" %>  alert-dismissible fade show" role="alert">
                        <%= msg %>
                    <% end %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
<% end %>